body {
  background-color: rgb(48, 36, 36);
  margin: 0px;
}
.DropDownContainer {
  display: flex;
  justify-content: flex-start;
}

.DropDownContainer li {
  padding: 15px;
}

.RTL {
  flex-direction: row-reverse;
}

.DropDown-MenuItems span {
  display: flex;
  margin-left: 20px;
}
.DropDown-MenuItems {
  display: flex;
  justify-content: space-around;
  background-color: black;
}

.DropDownContainer {
  background-color: rgb(110, 153, 190);
}
