* {
  margin: 0;
  padding: 0;
}

body {
  color: rgb(231, 231, 231);
  background: #1f1a25;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.Game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #2a3cad;
  border-radius: 4px;
  box-shadow: 0px 0px 5px #2a3cad;
  position: relative;
  margin: 40px;
  width: 700px;
  height: 860px;
}

.Score {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  color: #e2e2e4;
  width: 170px;
  margin-bottom: 2px;
  margin-left: 5px;
  background: rgba(9, 0, 0, 0.1);
  border-radius: 5px;
}

.used {
  color: #50dfdb;
  text-decoration: line-through;
}

.fa-stack {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-left: 1px;
  font-size: 18px;
}
.fa-tag {
  color: #2a3cad;
}
.fa-zero {
  color: #850000;
}

.fa-inverse {
  font-weight: 700;
  transform: rotate(45deg);
}

.Header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.box {
  background: #111845a6;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 20px 50px rgb(23, 32, 90);
  border: 2px solid #2a3cad;
  padding: 20px;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
}

.box:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transition: 0.5s;
  pointer-events: none;
}

.box:hover:before {
  left: -50%;
  transform: skewX(-5deg);
}

.box .content {
  border: 1px solid #f0a591;
  padding: 20px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(9, 0, 0, 0.5);
  font: 700 1.8rem 'Roboto Slab', sans-serif;
}
.box span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
}
#50dfdb .box span:nth-child(#50dfdb1) {
  transform: rotate(#50dfdb0deg);
}
#50dfdb #50dfdb .box span:nth-child(#50dfdb3) {
  transform: rotate(180deg);
}

.box span:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #50dfdb;
  box-shadow: 0 1px 10px #50dfdb;
  animation: animate 25s linear infinite;
}

@keyframes animate {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  50% {
    transform: scaleX(1);
    transform-origin: left;
  }
  50.1% {
    transform: scaleX(1);
    transform-origin: right;
  }

  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}

.Die {
  font-size: 90px;
  margin: 15px;
}

.draw-border {
  box-shadow: inset 0 0 0 4px #58afd1;
  color: #58afd1;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}
.draw-border::before,
.draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}
.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}
.draw-border:hover {
  color: #ffe593;
  font: 15px 'Roboto Slab', sans-serif;
}
.draw-border:hover::before,
.draw-border:hover::after {
  border-color: #ffe593;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.draw-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 10px 50px;
  letter-spacing: 0.05rem;
}
.btn:focus {
  outline: 2px dotted #55d7dc;
}

.ScoreBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ScoreBoard-scores {
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.ScoreBoard-scores h1 {
  border: 2px solid #f0a591;
  padding: 5px;
  width: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 700 1.5rem 'Roboto Slab', sans-serif;
}
